$bg0: rgba(92, 12, 25, 1);    /* Dunkles Weinrot */
$bg1: rgba(255, 213, 150, 1);  /* Helles Gelb-Beige, Hover */
$g2: rgba(230, 128, 192, 1);  /* Pink / aktive Elemente */
$bg3: rgba(153, 38, 64, 1);    /* Sekundäres Dunkelrot, Menüs, Dropdowns */
$bg4: rgba(255, 153, 204, 1);  /* Hellrosa, Akzente, Buttons */
$bg5: rgba(242, 242, 230, 1);  /* Helles Beige, Text auf dunklem Hintergrund */


#panel {
  background-color: $bg0 !important;
}

#dash {
  background-color: transparent;
}
