* {
    border: none;
    border-radius: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    box-shadow: none;
    color: #e8d2b8;
    background: transparent;
}

window#waybar {
    background: rgba(0, 0, 0, 0.0);
}

#workspaces button {
    padding: 0px 10px;
    transition: padding 0.9s cubic-bezier(0.34, 1.56, 0.64, 1);}

#workspaces button.focused {
    padding: 0px 20px;
}


#workspaces button,
#mode,
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#temperature {
    background-color: #27121e;
    padding: 0px 14px;          /* ✅ NUR horizontal: 0 oben/unten, 6px links/rechts */
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 30px;
}