* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    box-shadow: none;
    color: #e8d2b8;
    background: transparent;
}

window#waybar {
    background: rgba(0, 0, 0, 0.0);
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #27121e;
}

#workspaces button:hover {
    background-color: #3d2434;
}

#mode,
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#temperature {
    background-color: #27121e;
    padding: 3px;
    margin: 6px;
    border-radius: 3px;
}