window#waybar, tooltip {
    background: alpha(@base00, 0.500000);
}

* {
    font-family: "DejaVu Sans Mono";
    font-size: 10pt;
}

@define-color base00 #1a0a14; @define-color base01 #27121e;
@define-color base02 #3d2434; @define-color base03 #b13d8c;
@define-color base04 #c95ca0; @define-color base05 #e8d2b8;
@define-color base06 #e0a5c9; @define-color base07 #e8c3d9;

@define-color base08 #f0d1e4; @define-color base09 #c085c7;
@define-color base0A #8a6dc7; @define-color base0B #6b84d1;
@define-color base0C #e8e45c; @define-color base0D #d67db3;
@define-color base0E #d1d1d1; @define-color base0F #b4d4af;
window#waybar, tooltip {
    color: @base05;
}

tooltip {
    border-color: @base0D;
}

tooltip label {
    color: @base05;
}
#wireplumber,
#pulseaudio,
#sndio {
  padding: 0 5px;
}
#wireplumber.muted,
#pulseaudio.muted,
#sndio.muted {
  padding: 0 5px;
}
#upower,
#battery {
  padding: 0 5px;
}
#upower.charging,
#battery.Charging {
  padding: 0 5px;
}
#network {
  padding: 0 5px;
}
#network.disconnected {
  padding: 0 5px;
}
#user {
  padding: 0 5px;
}
#clock {
  padding: 0 5px;
}
#backlight {
  padding: 0 5px;
}
#cpu {
  padding: 0 5px;
}
#disk {
  padding: 0 5px;
}
#idle_inhibitor {
  padding: 0 5px;
}
#temperature {
  padding: 0 5px;
}
#mpd {
  padding: 0 5px;
}
#language {
  padding: 0 5px;
}
#keyboard-state {
  padding: 0 5px;
}
#memory {
  padding: 0 5px;
}
#window {
  padding: 0 5px;
}
#bluetooth {
  padding: 0 5px;
}
#bluetooth.disabled {
  padding: 0 5px;
}
.modules-left #workspaces button {
    border-bottom: 3px solid transparent;
}
.modules-left #workspaces button.focused,
.modules-left #workspaces button.active {
    border-bottom: 3px solid @base05;
}
.modules-center #workspaces button {
    border-bottom: 3px solid transparent;
}
.modules-center #workspaces button.focused,
.modules-center #workspaces button.active {
    border-bottom: 3px solid @base05;
}
.modules-right #workspaces button {
    border-bottom: 3px solid transparent;
}
.modules-right #workspaces button.focused,
.modules-right #workspaces button.active {
    border-bottom: 3px solid @base05;
}